beautifulsoup4==4.3.2
certifi==2017.11.5
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
Django==2.0.1
django-cors-headers==2.1.0
django-crispy-forms==1.4.0
django-durationfield==0.5.1
django-toolbelt==0.0.1
django-toolkit==0.3.3
djangorestframework==3.7.7
gunicorn==19.7.1
idna==2.6
lxml==3.4.4
Pillow==5.0.0
psycopg2==2.7.3.2
python-dateutil==2.4.2
pytz==2017.3
requests==2.18.4
six==1.11.0
static3==0.7.0
tldextract==1.6
unicodecsv==0.13.0
urllib3==1.22
whitenoise==3.3.1
