{%extends 'base.html'%}

{%block content%}
<div class="urls-container">
	<h1>URL´s de todas las apps del Proyectos</h1>
	<ul>
		<li><a href="/api/inventario">Inventario</a></li>
		<li><a href="/api/ganado">Ganado</a></li>
		<li><a href="/api/ingresos">Ingresos</a></li>
		<li><a href="/api/egresos">Egresos</a></li>
		<li><a href="/api/planta_alimentos">Planta de Alimentos</a></li>
		<li><a href="/api/vacunas">Vacunas</a></li>
		<li><a href="/api/auth">Cuentas y Usuarios</a></li>
		
	</ul>
</div>
{%endblock content%}